[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
pylint = "*"
flake8 = "*"

[requires]
python_version = "3.6.9"

[pipenv]
allow_prereleases = true
PIPENV_IGNORE_VIRTUALENVS=1

[scripts]
lint = "./linter_scripts/lint.sh"
